<!DOCTYPE html>
<html>
  <head>
    <title>HtmlGrabberApi</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    <% flash.each do |name, message| %>
    <%= content_tag :div, message, class: name %>
    <% end %>

  </body>
</html>
